.textHover {
  margin-top: 1px;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(90deg, orange 50%, #f0f0f0 50%);
  background-position: 100%;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  
  transition: background-position 0.35s ease;
}
.all:hover .textHover{
  background-position: 0;
}